.nav-input{
    border-radius: 2px;
}
.nav-btn{
    border-radius: 2px;
}
.desc{
    color: white;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}
.cart-icon{
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
}